@charset "utf-8";
body{
  font-family: '나눔고딕','맑은 고딕',돋움,sans-serif;
  font-weight: bold;
  font-size:18px;
  text-align: center;
}
.title{
  background-color: skyblue;
  color:aliceblue;
  border-bottom: 6px solid rgb(210, 242, 255);
  border-radius: 20px 20px 0 0;
  padding:10px;
  width:500px;
  width:60%;
  min-width: 400px; /*최소 가로값이 400px은 유지 */
  margin:50px auto;
}
h2{
  text-decoration: line-through;
  font-size: 22px;
}
li{
  border:1px solid #000;
  width:300px;
  padding:4px;
  /* margin:0 auto;
  margin-bottom:4px; */
  margin: 0 auto 4px;
  text-align: left;
}
.url{
  background-color: green;
  color:white;
  width:60%;
  min-width:300px; /* 300px 이하로는 작아지지 않음. 최소 크기 300 유지 */
  padding:10px;
  margin: 0 auto 1px;
}
.url a{
  color:white;
  text-decoration: none;
}
.url:hover{
  background-color: rgba(233, 181, 10, 0.644);
}
.wrapper{
  width:60%;
  min-width: 300px;
  margin:50px auto;
}
.wrapper .site{
  background-color: blueviolet;
  border-bottom: 1px solid #fff;
  height:40px;
  line-height: 40px;
}
/* 
"한 줄인 경우" 세로 중앙 정렬 방법
height와 line-height의 값을 동일하게 적용
폰트 사이즈의 크기가 큰 경우는 잘 안됨
*/