@charset "utf-8";

/* header
@import url();
*/

/***** common *****/
body{
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  /* 한글 단어 기준으로 줄바꿈 */
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.6;
}
.flex-wrapper{
  display: flex;
  align-items: center;
}
.lower-case{
  text-transform: lowercase;
}
.main-title{
  font-family: "Play",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  font-size: 2.875rem;
  text-transform: capitalize;
  font-weight: 700;
}
.main-title::before{
  content: "";
  background-color:orange;
  position:absolute;
  width:4px;
  height: 21px;
  left: 0; right:0; bottom:100%;
  margin: 100px auto 20px;
  transform:skewX(-25deg);
}
.main-des{
  font-weight: 300;
  font-size: 17px;
  max-width: 500px;
  min-width: 400px;
  margin:0px auto;
  color:#666;
}

.more-btn{
  background-color: orange;
  color:white;
  position: absolute;
  transition: 0.3s;
  text-transform: capitalize;
  padding:10px 30px;
}
.more-btn:hover{
  border-radius: 30px;
}
/***** article *****/
article{
  padding-top:170px;
}
article:nth-of-type(1){
  padding:0;
}
/***** header *****/
header{
  position:fixed;
  border-bottom: 1px solid rgba(255, 255, 255,0.7);
  width:100%;
  background-color: rgba(119, 119, 119,0.7);
  color:white;
  z-index: 999;
}
header .header-wrapper{
  /* background-color: orange; */
  min-width: 1100px;
  max-width: 1900px;
  margin:0 auto;
  height: 100px;
  justify-content: space-between;
}
header .header-wrapper .logo{
  width: 204px;
  height: 100%;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat 0 50% / contain;
  /* margin:0 60px; */
  margin:0 3.15789%;
}
header .header-wrapper .global-nav{
  font-size: 18px;
  font-weight: 600;
  width:50%;
  /* background-color: gainsboro; */
  height: 100%;
}
header .header-wrapper .global-nav li{
  flex: 1; /* flex-grow:1 flex-shrink:0 flex-basis:auto; */
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
header .header-wrapper .global-nav li:hover{
  color:orange;
}
header .header-wrapper .global-nav li a{
display: block;
height: 100%;
/* background-color: orange;s */
display: grid;
place-items: center;
}
header .header-wrapper .global-utill{
  margin:0 3.15789%;
  font-size: 14px;
}
header .header-wrapper .global-utill li a{
  display: block;
  margin-left: 30px;
}
header .header-wrapper .global-utill li:first-child a{
  background: orange url(../images/main_reserve_icon2_2108.png) no-repeat 10% 50% / 20px;
  width:128px;
  /* height:32px; */
  padding:9px 0 9px 25px;
  border-radius: 30px;
}
header .header-wrapper .global-utill li{
  position:relative;
}
/* 
  https://developer.mozilla.org/ko/docs/Web/CSS/:not
  특정 클래스나 특정 요소를 제외할 때 사용
  첫번째 li만 빼고
  */
header .header-wrapper .global-utill li:not(:first-child) a::after{
  content: "";
  position: absolute;
  width:0; height: 0;
  border-left:solid 4px transparent;
  border-bottom:solid 4px white;
  border-right:solid 4px transparent;
  transform: translateY(-50%);
  top:50%;
  margin-left:4px;
}
/* header .header-wrapper .global-utill li:first-child a::after{
  border:none;
  content: "";
} */
/***** footer *****/
footer{
  background-color: rgb(46, 46, 46);
  color:white;
  margin-top: 110px;
}
footer .footer-banner{
  background-color: #ddd;
  padding:30px 0;
  justify-content: space-evenly;
  align-items: flex-end;
}
footer .footer-bottom{
  max-width: 1600px;
  margin:0 auto;
  font-size: 12px;
  padding:50px 0;
}
footer .footer-bottom .footer-bottom-box{
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-bottom>.flex-wrapper{
  align-items: flex-start;
}
footer .footer-bottom h2{
  background: url(../images/logo.png) no-repeat 0 50% / contain;
  /* css filter https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
  filter: grayscale(100%) contrast(20%);
  text-indent: -9999px;
  width:300px;
  height: 40px;
}
footer .footer-bottom .footer-utill{
  gap:20px;
  font-size: 14px;
}
footer .footer-bottom .footer-utill a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}
footer .footer-bottom address{
  text-align: left;
  font-style: normal;
  line-height: 2;
  margin:40px 0;
}
footer .footer-bottom .copyright{
  color:#999;
  margin-top: 20px;
}
footer .footer-bottom .family-site{
  background-color: black;
  padding:10px 20px;
  width:180px;
  text-align: left;
  text-transform: capitalize;
  justify-content: space-between;
}
footer .footer-bottom .family-site .icon{
  width:10%;
}
footer .footer-bottom .family-site .icon svg{
  fill:white;
  transform: translateY(3px);

}