@charset "utf-8";
html{
  font-size: 17px;
}
h1{
  background-color: rgb(9, 90, 90);
  padding:40px;
}
h1 strong{
  display: inline;
}
h2{
  background-color: rgb(78, 136, 78);
}
.container{
  width:70vw;
  margin:0 auto;
}