@charset "utf-8";
body,h1{
  margin:0;
  padding:0;
}
header{
  display: flex;
  position: relative;
}
.logo{
  height: 70px;
  padding:15px;
}
.menu{
  display: none;
}
.icon-menu{
  width:20px;
  position: absolute;
  right:15px; top:35px;
}
.topimg{
  width:100%;
  position: relative;
}
.container2{
  position:absolute;
  width:100%;
  top:50%;
  display: flex;
  justify-content: space-between;
}
.container2 li{
  width:20px;
}
.container2 a{
  display: block;
  width:20px;
}
.container2 .left{
  transform: rotate(90deg);
}
.container2 .right{
  transform:rotate(-90deg);
}
.dong{
  width:20px;
}
.brand{
  padding:0 25px;
}
.brand .line{
  padding:7px 0;
  border-bottom:1px solid gainsboro;
  width:105%;
  display: block;
  transform: translateX(-10px);
}
.imgs{
  height:100%;
  width: 100%;
  aspect-ratio: 1/1;
}
.imges1{
  position: relative;
}
.imges .white{
  display:block;
  margin:0 auto;
  background-color: rgba(255, 255, 255,0.7);
  font-size: 1.5rem;
  font-weight: 600;
  width:100%;
  height: 100%;
  line-height: 20;
  aspect-ratio: 1/1;
  text-align: center;
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
.img5{
  width:100%;
  height:25vh;
}
.img4{
  width: 100%;
  height: 25vh;
}
.md{
  margin:0;
  background-color: rgba(255, 255, 255,0.7);
  font-size: 1.5rem;
  font-weight: 600;
  width:100%;
  height: 100%;
  text-align: center;
  line-height: 10;
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
.business{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom:25px;
}
.line1{
  border: 1px solid black;
  width:20%;
  margin:0 auto;
}
.wara{
  margin: 25px auto 0;
  text-align: center;
  width:75%;
}
.bsimg{
  width:90%;
  margin-top:25px;
}
.bsimg-container{
  text-align: center;
}
.bsimg-container .one{
  font-size: 1.2rem;
  font-weight: 600;
}
.bsimg-container .two{
  width: 70%;
  margin: 0 auto;
}
.video{
  background-color: rgb(240, 240, 240);
  padding:20px;
  margin-top:5px;
}
.video p:first-child{
  font-weight: 700;
  font-size: 2.5rem;
  padding-top:10px;
}
.video iframe{
  margin-top:40px;
  width:100%;
  aspect-ratio: 16/9;
}
.ourS{
  font-weight: 700;
  font-size: 2.5rem;
  padding-top:10px;
  text-align: center;
}
.ourService img{
  margin:55px auto 0;
  display: block;
  width:100%;
}
.ourService{
  padding: 20px;
}
.ourService h3{
  padding-left: 10px;
}
.ourService p{
  padding-left: 10px;
  margin-top:-10px;
}
.ourimageno{
  display: none;
}
.location{
  display: flex;
  border-bottom: 1px solid gainsboro;
  width:80%;
  margin: 0 auto;
}
.location a{
  display: block;
  font-weight: 700;
  font-size:1.5rem;
  text-align: center;
  color: black;
  text-decoration: none;
  width:50%;
  height: 40px;
  line-height: 40px;
  margin:0 auto;
}
.location .active{
  border-bottom:3px solid black;
  width:50%;
}
.container{
  border:1px solid black;
  height: 400px;
  width:90%;
  margin: 30px auto;
}
.address{
  padding:10px 25px;
  height: 45vh;
}
.address p{
  margin-top:-15px;
}
.address h4{
  margin-top:10px;
}
.line2{
  border:1px solid gainsboro;
}
.line3{
  border:2px solid gainsboro;
}
.mint img{
  margin:100px auto 50px;
  width:100%;
  position: relative;
}
.minttalk{
  margin-top:0px;
  background-color: rgba(71, 202, 158,0.7);
  width: 100%;
  height: 50vh;
  aspect-ratio: 1/1;
  text-align: center;
  color: white;
  position: absolute;
  transform: translate(0,-96%);
}
.mint .minttalk h3{
  font-size: 1.9rem;
  margin:50px 0;
}
.mint .minttalk .herb{
  width:70%;
  font-size: 1.3rem;
  margin: 0 auto;
}
.contact{
  border:1px solid white;
  width:150px;
  height: 40px;
  line-height: 40px;
  margin:50px auto;
  font-weight: 700;
}
.footerone{
  height: 70vh;
  background-color: rgb(235, 235, 235);
  margin-top:15px;
  padding: 20px;
}
.footerone img{
  margin-top:50px;
  margin-bottom:20px;
}
.footerone h4{
  margin-top:50px;
}
ul{
  list-style: none;
  padding: 0;
  margin:0;
}
.sns{
  display: flex;
  flex-direction: row;
  margin-top:-50px;
  padding-left: 20px;
}
.sns img:nth-of-type(1){
  width:12px;
  padding-right:30px;
}
.sns img:nth-of-type(2){
  width:18px;
  padding-right:30px;
}
.sns img:nth-of-type(3){
  width:22px;
  padding-right:30px;
}
.sns img:nth-of-type(4){
  width:18px;
  padding-right:30px;
}
.footer{
  background-color: gray;
  margin: 0;
  padding:50px 20px;
  text-align: center;
}